# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Build directories
build/
out/
.aux/
*.nls
*.ilg
.DS_Store
.DS_Store
DIFF.md
.DS_Store/
.DS_Store
images/certs.pdf
images/mentors_recommendation.jpeg
images/mentors_recommendation.pdf
images/network_topology.png
images/org_structure.png
images/to_whom_it_may_concern.jpeg
images/to_whom_it_may_concern.pdf
images/tu_logo.png
images/tu_logo.svg
images/weekly_log.pdf
.DS_Store
